/*This file holds the password inorder to create a login on the login page,
 * So this file is only used in password creation, not in the event of an actual login.
 * ie: You will have a fourm that looks like this:
 * 
 *  Username: ********
 *  Password: ********
 *  Auth Code: ********
 * 
 * 
 * The login page will check the auth code to see if they match the ones in this file.
 * Then the user will be created and logged in(calling another file which will handle checking the db for the user, prob in the backend(not made yet))
 * 
*/

export const authCode = "*********"; //This is the auth code that will be used to create a user.

