.team-section {
    padding: 4rem 1rem;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
}

.about-team {
    margin-bottom: 2rem;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #111827;
}

.div--cards {
    display: grid;
    gap: 2rem; /* Space between cards */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
}

@media screen and (max-width: 768px) {
    .div--cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    }
}

