.team-section {
    padding: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.about-team {
    margin-bottom: 2rem;
}

.div--cards {
    display: grid;
    gap: 2rem; /* Space between cards */
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
}

.h1--team {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #55708fc9 0%, #000000 100%);
    background: -webkit-linear-gradient(90deg, #55708fc9 0%, #000000 100%); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(90deg, #55708fc9 0%, #000000 100%); /* For Firefox 15 and earlier */
    background: -o-linear-gradient(90deg, #55708fc9 0%, #000000 100%); /* For Opera 11.1 to 12.0 */
    background: -ms-linear-gradient(90deg, #55708fc9 0%, #000000 100%); /* For Internet Explorer 10 */
    width: 300px;
    margin: 5px auto 40px auto;
    padding: 15px;
    border-radius: 4px;
    color: seashell
}

@media screen and (max-width: 768px) {
    .div--cards {
        grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    }
}

