.andrewCard img {
    width: 150px;
}

.andrewCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    width:fit-content;
    padding: 8px;
    align-items: center;
    margin-top: 15px;
    background-color:antiquewhite;
}